//fonts

$title-font:"Oswald", "Arial", sans-serif;
$text-font:"Arial", sans-serif;

//colors

$color-black:#000000;
$color-white:#ffffff;
$color-grey:#f2f2f2;
$color-accent:#68b738;
$color-darkgrey:#eaeaea;
$color-special-dark-grey:#444444;
$color-special-dark-grey-two:#222222;

//device-width

$tablet-width:768px;
$desktop-width:1280px;

//wrapper-margin

$modile-wrapper-margin:20px;
$tablet-wrapper-margin:30px;
$desktop-wrapper-margin:7.7%;
